DATABASE_URL=postgresql://postgres:postgres@localhost:5432/doc_ai
SERVICE_NAME=service
ENVIRONMENT=DEVELOPMENT
LOG_LEVEL=DEBUG
LOG_FORMAT=json_pretty


OLLAMA_HOST=ollama_host
EMBEDDING_MODEL=your-embedding-model-name

# Routing thresholds and parameters
AUTO_ASSIGN_THRESHOLD = 0.8
REVIEW_THRESHOLD = 0.4
TOP_K = 4


#LLM settings
GOOGLE_API_KEY=your-google-api-key
AGENT_MODEL="your-agent-model-name"
FINGER_PRINT_MODEL = "your-finger-print-model-name"


# GitHub settings
GITHUB_API_URL=https://api.github.com
GITHUB_TOKEN=github_pat
GITHUB_ORG=your-github-org
GITHUB_REPO=your-github-repo
GITHUB_BASE_PATH=root

